<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More Info - Cyber Ware</title>
    <link href="../static/css/auth.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form class="form" id="createAccount" method="post">
        <h1 class="form__title">More Info</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input autofocus class="form__input" id="blood type" placeholder="Blood type" type="text">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input autofocus class="form__input" id="jobs" placeholder="Jobs" type="text">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input autofocus class="form__input" id="cyberWareSN" placeholder="Cyber Ware Serial Number" type="text">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="login.html" id="linkLogin">Already have an account? Sign in</a>
            <br>
            <a class="form__link" href="signup.html" id="backToSignup">Back</a>
        </p>
    </form>
</div>
<script src="../static/js/signup.js"></script>
</body>
</html>